* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.body {
    font-size: 17px;
}

video {
    max-width: 100%;
}

a {
    text-decoration: none;
    color: black;
}

img {
    max-width: 100%;
}

/* header */
.header {
    background-color: #d9d9d9;
    height: 15vh;
    position: relative;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 10px 0px;
    max-width: 350px;
    margin: auto;
}

.nav__logo,
.nav__toggler {
    width: 2.4em;
}

.nav__links {
    top: 0px;
    position: absolute;
    left: -3000px;
    background-color: #1a5e76;
    padding: 50px 0px;
    height: 100vh;
    width: 50%;
    z-index: 2;
}

.nav__link--show {
    left: 0%;
}

.links {
    display: flex;
    flex-direction: column;
}

.links__item a {
    color: #d9d9d9;
}

.links__item {
    font-size: 1.2em;
    list-style: none;
    width: 100%;
    padding: 20px 0px;
    text-align: center;
    transition: 0.3s;
}


main {
    height: 85vh;
    background-image: url("../imgs/bg2.jpg");
    background-size: cover;
    display: flex;
    align-items: center;
}

section {
    padding: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.conatiner1 {
    box-shadow: 0px 0px 4px rgb(160, 158, 158);
    padding: 2em;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.container2 {
    box-shadow: 0px 0px 4px rgb(160, 158, 158);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.content p{
 color: #d9d9d9;
}

.column,
.video {

    padding: 2em;
    display: flex;
    flex-direction: column;
}

.column p {
    font-size: 1em;
    text-align: center;
    margin: 20px 0px;
    padding: 10px;
    border-bottom: 2px solid #1a5e76;
}

.title {
    text-align: center;
    margin: 30px;
    color: #1a5e76;
    border-bottom: 2px solid #a82471;
}

.icons {
    display: flex;
    align-items: center;
    margin: 10px;
    gap: 3em;
}

.icons img {
    width: 4em;
}

.container3 {
    box-shadow: 0px 0px 4px rgb(160, 158, 158);
    padding: 2em;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.music{
    width: 100%;
    padding: 2em;
}
.des{
    font-size: 0.8em;
    padding: 20px;
    
}
audio{
    width: 5em;
    display: block;
}

.container4 {
    padding: 0.8em;
}

caption {
    display: none;
}

table {
    width: 100%;
}

tr {
    border-bottom: 2px solid #1a5e76;
    background-color: #1a5e76;

}

th,
td {
    padding: 0.8em;
    font-size: 0.6em;
    color:#d9d9d9;
}
.sml-cont{
   
   display: flex;
   flex-wrap: wrap;
   flex-direction: column;
   align-items: center;
   gap: 20px;

}

.card {
    box-shadow: 0px 0px 4px rgb(160, 158, 158);
    position: relative;
    margin: 2em 0px;
    text-align: center;
    width: 17em;
  
}

figcaption {
    display: none;
}

.card figure img {
    width: 5em;
    border-radius: 50%;
    height: 5em;
    object-fit: cover;
}


figure {
    position: absolute;
    top: -25%;
    left: 50%;
    transform: translateX(-50%);
}

.card .description {
    padding: 3em 2em;
    
}
.icons-review{
display: flex;
    align-items: center;
    justify-content: center;
}
.card .description h2{
    font-size: 0.6em;
}

.icons-review {
    display: flex;
}

.icons-review img {
    width: 1em;
}

.icons-review h2 {}























.footer {
    background-color: #d9d9d9;
}

.footer__banner {
    display: flex;
    justify-content: space-between;
    background-color: #a82471;
    padding: 30px 20px;
    border-bottom-right-radius: 50px;
    color: #d9d9d9;
    margin-bottom: 20px;
}

.footer__container {
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex-wrap: wrap;
}

.footer__container__item__heading {
    color: #1a5e76;
    font-size: 1.2em;
    border-top: 2px solid #a82471;
}

.footer__container__item__body,
.footer__container__item__value,
.link {
    opacity: 0.6;
    margin: 5px;
    font-size: 0.8em;
    color: black;
}

.footer__container__item img {
    width: 1.2em;
}

.copyright {
    padding: 30px;
    text-align: center;
}
@media (min-width:520px) {
    body {
        font-size: 20px;
    }

    .nav {
        max-width: 450px;
    }
    audio {
            width: 90%;
            margin: 20px 0px;
           
        }
}

@media (min-width:620px) {
     section, article{
        padding:0em 3em;
     }
        .footer__container {
        flex-direction: row;
    }

   .footer__container__item{
        flex: 42%;
    }
           th,
           td {
               padding: 0.8em;
               font-size: 0.7em;
    
           }
   
}

@media (min-width:750px) {

section, article {
        padding:  0em 4em ;
    }
    
    .nav {
        max-width: 600px;
    }
    .sml-cont{
        flex-direction: row;
    }
    .card{
        flex: 45%;
    }
        th,
        td {
            padding: 1.3em;
            font-size: 0.9em;
          
        }
  .conatiner1 {
                    
                   
                    flex-direction: row;
                    gap: 20px;
        
                }

.conatiner1 .content{

    flex: 50%;
}

}

@media (min-width:920px) {
   .container2 {
          
            flex-direction: row;
            align-items: center;
    }
    .container2 #theText{
display: none;
    }
        section, article {
            padding:0em  5em;
        }
   
 .nav__toggler{
        display: none;
    }
    .nav {
        max-width: 800px;
        justify-content: flex-start;
    }

    .nav__links {
        position: static;
        background-color: transparent;
        height: auto;
        margin-left: auto;
    }
 .card {
     flex: 23%;
 }
 .links{
        display: block;
    }

    .links__item{
       display: inline;
       padding: 10px;
   }
         .links__item:hover{
background-color:#1a5e76;
cursor: pointer;
    }


    .links a {
        color: black;
        font-size: 0.7em;
        opacity: 1;
    }
    #voice-text{
        display: none;
    }
.container3{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.container3 >*{
    flex: 45%;
}
  

}

@media (min-width:1100px) {
 

    .footer__container {
        flex-direction: row;
    }

        .footer__container__item {
        flex: 23%;
    }
}