
* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    font-size: 17px;
}

video {
    max-width: 100%;
}

a {
    text-decoration: none;
    color: black;
}

img {
    max-width: 100%;
}

/* header */
header {
    background-color: #d9d9d9;
    height: 15vh;
    position: relative;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 10px 0px;
    max-width: 350px;
    margin: auto;
}

nav img {
    width: 2.4em;
}

.links {
    top: 0px;
    position: absolute;
    left: -3000px;
    background-color: #1a5e76;
    padding: 50px 0px;
    height: 100vh;
    width: 50%;
    z-index: 2;
}
.include p, .theText  {
opacity: 0.8;
font-size: 1em;

}
.include video{
    margin: 20px 0px ;
}
.include{
    padding: 40px;
    box-shadow: 0px 0px 4px rgb(160, 158, 158);
}
main{
    padding: 20px;
}
.show-link {
    left: 0%;
}

.links ul {
    display: flex;
    flex-direction: column;
}

.link a {
    color: #d9d9d9;
}

.links li {
    font-size: 1.2em;
    list-style: none;
    width: 100%;
    padding: 20px 0px;
    text-align: center;
    transition: 0.3s;
}
.grid {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 20px;
    margin-top: 30px;
    padding: 50px;

}
.card-cool figcaption{
    display: none;
}
.card-cool {
    box-shadow: 0px 0px 4px rgb(160, 158, 158);
    display: flex;
    flex-direction: column;
    cursor: pointer;
    grid-column: span 8;
}


.body {
    padding: 10px;
}

.body p {
    font-size: 0.8em;
    opacity: 0.6;
    margin-bottom: 15px;
}

.body h2 {
    font-size: 1.2em;
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 2px solid #a82471;
}

.body span {
    font-weight: 800;
    font-size: 0.9em;
    text-transform: capitalize;
}

.description{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icons img {
    width: 1.4em;
    margin-left: 15px;

}
.icons{
    margin-bottom: 10px;
}
.review-container{
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    padding: 30px;
    margin: 20px;
    gap: 30px;
}

.card {
    box-shadow: 0px 0px 4px rgb(160, 158, 158);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 9px;
    grid-column: span 8;
}

.card figure img {
    height: 80px;
    width: 80px;
    object-fit: cover;
    border-radius: 50%;
}

.card figcaption {
    font-weight: 800;
}

.card p {
    font-size: 0.8em;
    opacity: 0.6;
    margin: 10px 0px;
}
.title{
    text-align: center;
    margin: 30px;
    color: #1a5e76;
    border-bottom:2px solid  #a82471;
}
.cont{
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap :15px;
    max-width: 400px;
    
}
.cont .card-no{
box-shadow: 0px 0px 4px rgb(160, 158, 158);
padding: 15px;
font-size: 0.8em;
}
.card-no *{
    margin: 5px 0px;
}
.full{
    display: flex;
    flex-direction: column;
    padding: 15px;
}
.full .text, .detail{
    font-size: 0.9em;
    padding: 15px;
    margin: 20px 0px ;
    box-shadow: 0px 0px 4px rgb(160, 158, 158);
}
.full .right button{
background-color: #1a5e76;
border: none;
padding: 15px;
margin: 10px ;
color: #d9d9d9;
}
.full .detail span {
    display: block;
  text-transform: capitalize;
}

iframe{
    width: 100%;
    height: 500px;
}

footer {
    background-color: #d9d9d9;
}

footer .banner2 {
    display: flex;
    justify-content: space-between;
    background-color: #a82471;
    padding: 30px 20px;
    border-bottom-right-radius: 50px;
    color: #d9d9d9;
    margin-bottom: 20px;
}

.footer-container {
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex-wrap: wrap;
}

.footer-container .col h2 {
    color: #1a5e76;
    font-size: 1.2em;
    border-top: 2px solid #a82471;
}

.footer-container .col p,
h3,
a {
    opacity: 0.6;
    margin: 5px;
    font-size: 0.8em;
    color: black;
}

.footer-container img {
    width: 1.2em;
}

.copyright {
    padding: 30px;
    text-align: center;
}
@media (min-width:520px) {
    body {
        font-size: 20px;
    }
    nav {
        max-width: 450px;
    }
    .cont{
        max-width: 450px;
    }
}

@media (min-width:620px) {
    .grid .card-cool {
        grid-column: span 4;
    }

    .footer-container {
        flex-direction: row;
    }

    .footer-container .col {
        flex: 42%;
    }
    .cont{
        max-width: 600px;
    }
}

@media (min-width:750px) {
   
.cont {
        max-width: 700px;
    }
    nav {
        max-width: 600px;
    }
    .review-container .one{
        grid-column: span 4;
    }
    .review-container .two{
        grid-column: 5 /9;
        grid-row: 2;
    }
        .left {
            display: flex;
            gap: 10px
        }
        .left * {
            flex: 1;
        }
}

@media (min-width:920px) {
    .cont {
            max-width: 880px;
        }
    .full {
        flex-direction: row;
        gap :20px;
    }
    .right button{
        width: 90%;
    }
    .full *{
        flex: 1;
    }
    .left{
        flex-direction: column;
    }
    .toggler {
        display: none;
    }

    nav {
        max-width: 800px;
        justify-content: flex-start;
    }
    .cont {
            max-width: 800px;
        }

    .links {
        position: static;
        background-color: transparent;
        height: auto;
        margin-left: auto;
    }
    
    .cont{
        flex-direction: row;
    }
    .cont *{
        flex: 1;
    }
    

    .links ul {
        display: block;
    }

 .links li {
     display: inline;
     padding: 10px;
 }

    .links a {
        color: black;
        font-size: 0.7em;
        opacity: 1;
    }
          .links li:hover {
              background-color: #1a5e76;
              cursor: pointer;
          }
}

@media (min-width:1100px) {
    .grid .card-cool {
        grid-column: span 2;
    }
  .cont {
      max-width: 1000px;
  }
    .footer-container {
        flex-direction: row;
    }

    .footer-container .col {
        flex: 23%;
    }

 

}